/* form for login */

.form-container {
    background-color: white;
    width: 70%;
    height: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-container  .just-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.form-container .just-form .avarage-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    bottom: 25px;
}

.form-container .just-form .inputform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

.inputform .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    gap: 10px;
    border-radius: 10px;
    padding-left: 5px;
    width: 100%;
    transition: 0.2s ease-in-out;
    border: 1.5px solid #ecedec;
}

.form-group input {
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
    padding: 0;
    text-decoration: none;
}

.form-group input:focus {
    outline: none;
    border: none;
}

.inputform .form-group:focus-within {
    border: 1.5px solid #2d79f3;
}


.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
  outline: none;
  border: none;
}

.inputform label {
    color:  #151717;
    font-weight: 400;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.buttons .sign-in {
    background: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

.buttons .sign-in:hover {
    background-color: rgb(42, 41, 41)
}

.buttons .google {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1.5px solid black;
    gap: 5px;
    border-radius: 10px;
    background: white;
}

.buttons .google:hover {
    background-color: #c9cdcd;
    color: white;
}

.just-form > p {
    position: relative;
    top: 20px;
}


.just-form .inputform:nth-child(1) {
    position: relative;
    top: 25px;
}

